<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}" style="vertical-align: middle;">
          <img src="{{uiRootPath}}/cerbos.svg" alt="Cerbos" width="134" height="50" />
        </a>
      </div>


      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item hide-for-print">
          <div id="docsearch"></div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Cerbos components</div>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Cerbos PDP</strong><br /><small>Open source authorization engine</small>
            </div>
            <a class="navbar-item" href="{{site.url}}/cerbos/latest/index.html">&nbsp;&nbsp;Documentation</a>
            <a class="navbar-item" href="https://github.com/cerbos/cerbos">&nbsp;&nbsp;Code</a>
            <a class="navbar-item" href="https://github.com/cerbos/cerbos/issues">&nbsp;&nbsp;Issue Tracker</a>
            <a class="navbar-item" href="https://github.com/cerbos/cerbos/discussions">&nbsp;&nbsp;Discussion Forum</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Cerbos Hub</strong><br /><small>Policy management control plane</small>
            </div>
            <a class="navbar-item"
              href="https://hub.cerbos.cloud?utm_campaign=brand_cerbos&utm_source=documentation&utm_medium=text">&nbsp;&nbsp;Sign
              up</a>
            <a class="navbar-item" href="{{site.url}}/cerbos-hub/">&nbsp;&nbsp;Documentation</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>PEP SDKs</strong><br /><small>Client libraries for policy
                enforcement</small></div>
            <a class="navbar-item" href="https://www.cerbos.dev/ecosystem">&nbsp;&nbsp;Documentation</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Cerbos Synapse</strong><br /><small>Context enrichment layer</small></div>
            <a class="navbar-item" href="https://www.cerbos.dev/product-cerbos-synapse">&nbsp;&nbsp;About</a>
            <a class="navbar-item" href="{{site.url}}/synapse/latest/">&nbsp;&nbsp;Documentation</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Resources</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.cerbos.dev/features-benefits-and-use-cases">Features, benefits, use
              cases</a>
            <a class="navbar-item" href="https://www.cerbos.dev/blog">Technical blog</a>
            <a class="navbar-item" href="https://www.cerbos.dev/resources">Webinars and ebooks</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Support</div>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="http://go.cerbos.io/slack">Community Slack</a>
            <a class="navbar-item" href="mailto:help@cerbos.dev">Email (help@cerbos.dev)</a>
          </div>
        </div>

        <a class="navbar-item"
          href="https://www.cerbos.dev/workshop?utm_campaign=brand_cerbos&utm_source=documentation&utm_medium=text"
          target="_blank">Talk to an engineer</a>

        <a class="navbar-item"
          href="https://hub.cerbos.cloud?utm_campaign=brand_cerbos&utm_source=documentation&utm_medium=text"
          target="_blank">Try Cerbos Hub for free</a>

      </div>
    </div>
  </nav>
</header>
